<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-pelicula-heading" jhiTranslate="cineApp.pelicula.home.createOrEditLabel">Create or edit a Pelicula</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!pelicula.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="pelicula.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cineApp.pelicula.titulo" for="field_titulo">Titulo</label>
                    <input type="text" class="form-control" name="titulo" id="field_titulo"
                        [(ngModel)]="pelicula.titulo" required/>
                    <div [hidden]="!(editForm.controls.titulo?.dirty && editForm.controls.titulo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.titulo?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cineApp.pelicula.estreno" for="field_estreno">Estreno</label>
                    <div class="d-flex">
                        <input id="field_estreno" type="datetime-local" class="form-control" name="estreno" [(ngModel)]="estreno"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.estreno?.dirty && editForm.controls.estreno?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.estreno?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.estreno?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cineApp.pelicula.created" for="field_created">Created</label>
                    <div class="d-flex">
                        <input id="field_created" type="datetime-local" class="form-control" name="created" [(ngModel)]="created"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.created?.dirty && editForm.controls.created?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.created?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.created?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cineApp.pelicula.updated" for="field_updated">Updated</label>
                    <div class="d-flex">
                        <input id="field_updated" type="datetime-local" class="form-control" name="updated" [(ngModel)]="updated"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.updated?.dirty && editForm.controls.updated?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.updated?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.updated?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cineApp.pelicula.calificacion" for="field_calificacion">Calificacion</label>
                    <select class="form-control" id="field_calificacion" name="calificacion" [(ngModel)]="pelicula.calificacion" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="calificacionOption.id === pelicula.calificacion?.id ? pelicula.calificacion : calificacionOption" *ngFor="let calificacionOption of calificacions; trackBy: trackCalificacionById">{{calificacionOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
