<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cliente">
            <h2><span jhiTranslate="cineApp.cliente.detail.title">Cliente</span> {{cliente.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cineApp.cliente.apellido">Apellido</span></dt>
                <dd>
                    <span>{{cliente.apellido}}</span>
                </dd>
                <dt><span jhiTranslate="cineApp.cliente.nombre">Nombre</span></dt>
                <dd>
                    <span>{{cliente.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="cineApp.cliente.documento">Documento</span></dt>
                <dd>
                    <span>{{cliente.documento}}</span>
                </dd>
                <dt><span jhiTranslate="cineApp.cliente.created">Created</span></dt>
                <dd>
                    <span>{{cliente.created}}</span>
                </dd>
                <dt><span jhiTranslate="cineApp.cliente.updated">Updated</span></dt>
                <dd>
                    <span>{{cliente.updated}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cliente', cliente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
