<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ticket">
            <h2><span jhiTranslate="cineApp.ticket.detail.title">Ticket</span> {{ticket.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cineApp.ticket.fechaTransmision">Fecha Transmision</span></dt>
                <dd>
                    <span>{{ticket.fechaTransmision}}</span>
                </dd>
                <dt><span jhiTranslate="cineApp.ticket.butacas">Butacas</span></dt>
                <dd>
                    <span>{{ticket.butacas}}</span>
                </dd>
                <dt><span jhiTranslate="cineApp.ticket.importe">Importe</span></dt>
                <dd>
                    <span>{{ticket.importe}}</span>
                </dd>
                <dt><span jhiTranslate="cineApp.ticket.pagoUuid">Pago Uuid</span></dt>
                <dd>
                    <span>{{ticket.pagoUuid}}</span>
                </dd>
                <dt><span jhiTranslate="cineApp.ticket.created">Created</span></dt>
                <dd>
                    <span>{{ticket.created}}</span>
                </dd>
                <dt><span jhiTranslate="cineApp.ticket.updated">Updated</span></dt>
                <dd>
                    <span>{{ticket.updated}}</span>
                </dd>
                <dt><span jhiTranslate="cineApp.ticket.cliente">Cliente</span></dt>
                <dd>
                    <div *ngIf="ticket.cliente">
                        <a [routerLink]="['/cliente', ticket.cliente?.id, 'view']">{{ticket.cliente?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ticket', ticket.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
