<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-ticket-heading" jhiTranslate="cineApp.ticket.home.createOrEditLabel">Create or edit a Ticket</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!ticket.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="ticket.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cineApp.ticket.fechaTransmision" for="field_fechaTransmision">Fecha Transmision</label>
                    <div class="d-flex">
                        <input id="field_fechaTransmision" type="datetime-local" class="form-control" name="fechaTransmision" [(ngModel)]="fechaTransmision"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.fechaTransmision?.dirty && editForm.controls.fechaTransmision?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.fechaTransmision?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.fechaTransmision?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cineApp.ticket.butacas" for="field_butacas">Butacas</label>
                    <input type="number" class="form-control" name="butacas" id="field_butacas"
                        [(ngModel)]="ticket.butacas" required min="1" jhiMin="1"/>
                    <div [hidden]="!(editForm.controls.butacas?.dirty && editForm.controls.butacas?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.butacas?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.butacas?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 1 }">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.butacas?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cineApp.ticket.importe" for="field_importe">Importe</label>
                    <input type="number" class="form-control" name="importe" id="field_importe"
                        [(ngModel)]="ticket.importe" required min="10" jhiMin="10"/>
                    <div [hidden]="!(editForm.controls.importe?.dirty && editForm.controls.importe?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.importe?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.importe?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 10 }">
                            This field should be at least 10.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.importe?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cineApp.ticket.pagoUuid" for="field_pagoUuid">Pago Uuid</label>
                    <input type="text" class="form-control" name="pagoUuid" id="field_pagoUuid"
                        [(ngModel)]="ticket.pagoUuid" required/>
                    <div [hidden]="!(editForm.controls.pagoUuid?.dirty && editForm.controls.pagoUuid?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.pagoUuid?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cineApp.ticket.created" for="field_created">Created</label>
                    <div class="d-flex">
                        <input id="field_created" type="datetime-local" class="form-control" name="created" [(ngModel)]="created"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.created?.dirty && editForm.controls.created?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.created?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.created?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cineApp.ticket.updated" for="field_updated">Updated</label>
                    <div class="d-flex">
                        <input id="field_updated" type="datetime-local" class="form-control" name="updated" [(ngModel)]="updated"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.updated?.dirty && editForm.controls.updated?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.updated?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.updated?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cineApp.ticket.cliente" for="field_cliente">Cliente</label>
                    <select class="form-control" id="field_cliente" name="cliente" [(ngModel)]="ticket.cliente" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clienteOption.id === ticket.cliente?.id ? ticket.cliente : clienteOption" *ngFor="let clienteOption of clientes; trackBy: trackClienteById">{{clienteOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
