<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ocupacion">
            <h2><span jhiTranslate="cineApp.ocupacion.detail.title">Ocupacion</span> {{ocupacion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cineApp.ocupacion.valor">Valor</span></dt>
                <dd>
                    <span>{{ocupacion.valor}}</span>
                </dd>
                <dt><span jhiTranslate="cineApp.ocupacion.created">Created</span></dt>
                <dd>
                    <span>{{ocupacion.created}}</span>
                </dd>
                <dt><span jhiTranslate="cineApp.ocupacion.updated">Updated</span></dt>
                <dd>
                    <span>{{ocupacion.updated}}</span>
                </dd>
                <dt><span jhiTranslate="cineApp.ocupacion.butaca">Butaca</span></dt>
                <dd>
                    <div *ngIf="ocupacion.butaca">
                        <a [routerLink]="['/butaca', ocupacion.butaca?.id, 'view']">{{ocupacion.butaca?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="cineApp.ocupacion.funcion">Funcion</span></dt>
                <dd>
                    <div *ngIf="ocupacion.funcion">
                        <a [routerLink]="['/funcion', ocupacion.funcion?.id, 'view']">{{ocupacion.funcion?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="cineApp.ocupacion.ticket">Ticket</span></dt>
                <dd>
                    <div *ngIf="ocupacion.ticket">
                        <a [routerLink]="['/ticket', ocupacion.ticket?.id, 'view']">{{ocupacion.ticket?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="cineApp.ocupacion.entrada">Entrada</span></dt>
                <dd>
                    <div *ngIf="ocupacion.entrada">
                        <a [routerLink]="['/entrada', ocupacion.entrada?.id, 'view']">{{ocupacion.entrada?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ocupacion', ocupacion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
