<div>
    <h2 id="page-heading">
        <span jhiTranslate="cineApp.funcion.home.title">Funcions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-funcion" [routerLink]="['/funcion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cineApp.funcion.home.createLabel">
            Create new Funcion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="funcions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fecha"><span jhiTranslate="cineApp.funcion.fecha">Fecha</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="created"><span jhiTranslate="cineApp.funcion.created">Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updated"><span jhiTranslate="cineApp.funcion.updated">Updated</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sala.id"><span jhiTranslate="cineApp.funcion.sala">Sala</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pelicula.id"><span jhiTranslate="cineApp.funcion.pelicula">Pelicula</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let funcion of funcions ;trackBy: trackId">
                <td><a [routerLink]="['/funcion', funcion.id, 'view' ]">{{funcion.id}}</a></td>
                <td>{{funcion.fecha | date:'medium'}}</td>
                <td>{{funcion.created | date:'medium'}}</td>
                <td>{{funcion.updated | date:'medium'}}</td>
                <td>
                    <div *ngIf="funcion.sala">
                        <a [routerLink]="['../sala', funcion.sala?.id, 'view' ]" >{{funcion.sala?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="funcion.pelicula">
                        <a [routerLink]="['../pelicula', funcion.pelicula?.id, 'view' ]" >{{funcion.pelicula?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/funcion', funcion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/funcion', funcion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'funcion/'+ funcion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="funcions && funcions.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
