<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="funcion">
            <h2><span jhiTranslate="cineApp.funcion.detail.title">Funcion</span> {{funcion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cineApp.funcion.fecha">Fecha</span></dt>
                <dd>
                    <span>{{funcion.fecha}}</span>
                </dd>
                <dt><span jhiTranslate="cineApp.funcion.created">Created</span></dt>
                <dd>
                    <span>{{funcion.created}}</span>
                </dd>
                <dt><span jhiTranslate="cineApp.funcion.updated">Updated</span></dt>
                <dd>
                    <span>{{funcion.updated}}</span>
                </dd>
                <dt><span jhiTranslate="cineApp.funcion.sala">Sala</span></dt>
                <dd>
                    <div *ngIf="funcion.sala">
                        <a [routerLink]="['/sala', funcion.sala?.id, 'view']">{{funcion.sala?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="cineApp.funcion.pelicula">Pelicula</span></dt>
                <dd>
                    <div *ngIf="funcion.pelicula">
                        <a [routerLink]="['/pelicula', funcion.pelicula?.id, 'view']">{{funcion.pelicula?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/funcion', funcion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
